:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  box-sizing: border-box;
}

@keyframes gradientBorder {
  0% {
    border-image-source: linear-gradient(90deg, #ff0000, #ff7300);
  }
  25% {
    border-image-source: linear-gradient(90deg, #ff7300, #ffd700);
  }
  50% {
    border-image-source: linear-gradient(90deg, #ffd700, #32cd32);
  }
  75% {
    border-image-source: linear-gradient(90deg, #32cd32, #1e90ff);
  }
  100% {
    border-image-source: linear-gradient(90deg, #1e90ff, #ff0000);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/night-forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.board {
  margin: 20px;
  width: 90vw;
  max-width: 500px;
  height: 90vw;
  max-height: 500px;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  border: 5px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* font-size: 6vw; */
  width: 100%;
  height: 100%;
}

/* Thêm hiệu ứng hover trên desktop */
@media (min-width: 768px) {
  .cell:hover {
    border: 5px solid transparent;
    border-image-slice: 1;
    transition: border 0.3s ease-in-out;
    animation: gradientBorder 1s infinite linear;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
