@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/night-forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.board {
  margin: 20px;
  width: 90vw; /* Chiếm 90% chiều rộng màn hình */
  max-width: 500px; /* Giữ nguyên kích thước tối đa */
  height: 90vw; /* Giữ tỷ lệ vuông theo chiều rộng */
  max-height: 500px;
  border: 5px solid #ccc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  border: 5px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 6vw;
}

/* Thêm hiệu ứng hover trên desktop */
@media (min-width: 768px) {
  .cell:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
